<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Invoice #Inv-{{invoiceId}}</title>
    <style>
      :root,
      * {
        --fontFamily: "Work Sans", sans-serif;
        --mainColor: #0ec6c6;
        --mainColor2: #30eded;
        --optionalColor: #666;
        --whiteColor: #fff;
        --blackColor: #221638;
        --fontSize: 15px;
        --transition: 0.5s;
        --swiper-navigation-size: 44px;
        --swiper-theme-color: #007aff;
        --bs-blue: #0d6efd;
        --bs-indigo: #6610f2;
        --bs-purple: #6f42c1;
        --bs-pink: #d63384;
        --bs-red: #dc3545;
        --bs-orange: #fd7e14;
        --bs-yellow: #ffc107;
        --bs-green: #198754;
        --bs-teal: #20c997;
        --bs-cyan: #0dcaf0;
        --bs-black: #000;
        --bs-white: #fff;
        --bs-gray: #6c757d;
        --bs-gray-dark: #343a40;
        --bs-gray-100: #f8f9fa;
        --bs-gray-200: #e9ecef;
        --bs-gray-300: #dee2e6;
        --bs-gray-400: #ced4da;
        --bs-gray-500: #adb5bd;
        --bs-gray-600: #6c757d;
        --bs-gray-700: #495057;
        --bs-gray-800: #343a40;
        --bs-gray-900: #212529;
        --bs-primary: #0d6efd;
        --bs-secondary: #6c757d;
        --bs-success: #198754;
        --bs-info: #0dcaf0;
        --bs-warning: #ffc107;
        --bs-danger: #dc3545;
        --bs-light: #f8f9fa;
        --bs-dark: #212529;
        --bs-primary-rgb: 13, 110, 253;
        --bs-secondary-rgb: 108, 117, 125;
        --bs-success-rgb: 25, 135, 84;
        --bs-info-rgb: 13, 202, 240;
        --bs-warning-rgb: 255, 193, 7;
        --bs-danger-rgb: 220, 53, 69;
        --bs-light-rgb: 248, 249, 250;
        --bs-dark-rgb: 33, 37, 41;
        --bs-white-rgb: 255, 255, 255;
        --bs-black-rgb: 0 0 0;
        --bs-body-color-rgb: 33, 37, 41;
        --bs-body-bg-rgb: 255, 255, 255;
        --bs-font-sans-serif: system-ui, 0 "Segoe UI", Roboto, "Helvetica Neue",
          "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
          "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
          "Liberation Mono", "Courier New", monospace;
        --bs-gradient: linear-gradient(
          180deg,
          hsla(0, 0%, 100%, 0.15),
          hsla(0, 0%, 100%, 0)
        );
        --bs-body-font-family: var(--bs-font-sans-serif);
        --bs-body-font-size: 1rem;
        --bs-body-font-weight: 400;
        --bs-body-line-height: 1.5;
        --bs-body-color: #212529;
        --bs-body-bg: #fff;
        --bs-border-width: 1px;
        --bs-border-style: solid;
        --bs-border-color: #dee2e6;
        --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
        --bs-border-radius: 0.375rem;
        --bs-border-radius-sm: 0.25rem;
        --bs-border-radius-lg: 0.5rem;
        --bs-border-radius-xl: 1rem;
        --bs-border-radius-2xl: 2rem;
        --bs-border-radius-pill: 50rem;
        --bs-link-color: #0d6efd;
        --bs-link-hover-color: #0a58ca;
        --bs-code-color: #d63384;
        --bs-highlight-bg: #fff3cd;
      }
      body {
        box-sizing: border-box;
        font-weight: var(--bs-body-font-weight);
        line-height: var(--bs-body-line-height);
        color: var(--bs-body-color);
        text-align: var(--bs-body-text-align);
        background-color: var(--bs-body-bg);
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
        padding: 0;
        margin: 0;
        font-family: var(--fontFamily);
        font-size: 14px;
      }
      .invoice-area {
        margin-top: 20px;
      }
      .invoice-area,
      .invoice-header,
      .invoice-left-text,
      .invoice-right-text {
        font-weight: var(--bs-body-font-weight);
        line-height: var(--bs-body-line-height);
        color: var(--bs-body-color);
        text-align: var(--bs-body-text-align);
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
        font-size: var(--fontSize);
        font-family: var(--fontFamily);
        box-sizing: border-box;
      }
      .invoice-area {
        background-color: var(--whiteColor);
        box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, 0.05);
        border-radius: 5px;
        margin-bottom: 30px;
        padding: 25px;
      }
      .invoice-header {
        display: table;
        width: 100%;
        margin-bottom: 25px;
      }
      .invoice-header > * {
        display: table-cell;
      }
      .invoice-header > *:first-child {
        text-align: left;
      }
      .invoice-header > *:last-child {
        text-align: right;
      }
      .invoice-left-text > h3,
      .invoice-right-text > h3 {
        margin-top: 0;
        line-height: 1.2;
        color: var(--bs-heading-color);
        font-weight: 700;
        margin-bottom: 0 !important;
        font-size: 22px;
      }
      .invoice-left-text > p,
      .invoice-right-text > p {
        color: var(--optionalColor);
        font-size: var(--fontSize);
        line-height: 1.8;
        margin-top: 0.5rem !important;
        margin-bottom: 0 !important;
        font-weight: 500;
      }
      .invoice-right-text > h3 {
        text-transform: uppercase !important;
      }
      .invoice-middle {
        line-height: var(--bs-body-line-height);
        margin-bottom: 25px;
      }
      .invoice-middle > .row {
        display: table;
        table-layout: fixed;
        width: 100%;
        margin-top: calc(-1 * var(--bs-gutter-y));
      }
      .invoice-middle > .row > .col-3,
      .invoice-middle > .row > .col-6 {
        display: table-cell;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) * 0.5px);
        padding-left: calc(var(--bs-gutter-x) * 0.5px);
        margin-top: var(--bs-gutter-y);
        width: 25%;
      }
      .invoice-middle > .row > .col-6 {
        width: 50%;
      }
      .invoice-middle,
      .invoice-middle > .row,
      .invoice-middle > .row > .col-3,
      .invoice-middle > .row > .col-3 > .text,
      .invoice-middle > .row > .col-3 > .text > span {
        color: var(--bs-body-color);
        text-align: var(--bs-body-text-align);
        font-size: var(--fontSize);
      }
      .invoice-middle,
      .invoice-middle > .row,
      .invoice-middle > .row > .col-3,
      .invoice-middle > .row > .col-3 > .text {
        font-weight: var(--bs-body-font-weight);
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
        font-family: var(--fontFamily);
        box-sizing: border-box;
      }
      .invoice-middle > .row > .col-3 > .text > h4 {
        text-align: var(--bs-body-text-align);
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        margin-top: 0;
        line-height: 1.2;
        color: var(--bs-heading-color);
        font-weight: 700;
        margin-bottom: 0.5rem !important;
        font-size: 17px;
      }
      .invoice-middle > .row > .col-3 > .text > span {
        display: block !important;
        margin-bottom: 0.25rem !important;
        font-weight: 500;
      }
      .invoice-middle > .row,
      .invoice-middle > .row > .col-3,
      .invoice-middle > .row > .col-3 > .text,
      .invoice-middle > .row > .col-3 > .text > span,
      .invoice-middle > .row > .col-6,
      .invoice-middle > .row > .col-6 > .text {
        line-height: var(--bs-body-line-height);
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
      }
      .invoice-middle > .row > .col-6 > .text {
        text-align: end;
      }
      .invoice-middle > .row > .col-6 > .text > h5,
      .invoice-middle > .row > .col-6 > .text > h5 > sub {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        text-align: end;
        font-weight: 500;
        font-size: 15px;
      }
      .invoice-middle > .row > .col-6 > .text > h5 {
        margin-top: 0;
        line-height: 1.2;
        color: var(--bs-heading-color);
        margin-bottom: 12px;
      }
      .invoice-middle > .row > .col-6 > .text > h5 > sub {
        position: relative;
        line-height: 0;
        vertical-align: baseline;
        margin-left: 50px;
        bottom: 0;
        width: 90px;
        display: inline-block;
        color: #6084a4;
      }
      .invoice-middle > .row > .col-6,
      .invoice-middle > .row > .col-6 > .text,
      .invoice-table,
      .invoice-table > .table {
        font-weight: var(--bs-body-font-weight);
        color: var(--bs-body-color);
        font-size: var(--fontSize);
        border-collapse: collapse;
      }
      .invoice-middle > .row > .col-3 > .text > h4,
      .invoice-middle > .row > .col-3 > .text > span,
      .invoice-middle > .row > .col-6,
      .invoice-middle > .row > .col-6 > .text,
      .invoice-middle > .row > .col-6 > .text > h5,
      .invoice-middle > .row > .col-6 > .text > h5 > sub,
      .invoice-table {
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
        font-family: var(--fontFamily);
        box-sizing: border-box;
      }
      .invoice-table {
        line-height: var(--bs-body-line-height);
        overflow-x: auto;
      }
      .invoice-table > .table {
        width: 100%;
        vertical-align: top;
        margin-bottom: 0;
        border-color: var(--bs-table-border-color);
      }
      .invoice-table > .table > thead {
        vertical-align: bottom;
        border-width: 0;
      }
      .invoice-table > .table tr,
      .invoice-table > .table > tbody,
      .invoice-table > .table > thead {
        font-weight: var(--bs-body-font-weight);
        color: var(--bs-body-color);
        font-size: var(--fontSize);
        border-color: inherit;
        border-style: solid;
      }
      .invoice-table > .table > tbody {
        vertical-align: inherit;
      }
      .invoice-table > .table th {
        color: var(
          --bs-table-color-state,
          var(--bs-table-color-type, var(--bs-table-color))
        );
        text-align: center;
        font-size: var(--fontSize);
        font-weight: 600;
      }
      .invoice-table > .table,
      .invoice-table > .table td,
      .invoice-table > .table td.text-right,
      .invoice-table > .table td.text-right strong,
      .invoice-table > .table th,
      .invoice-table > .table tr,
      .invoice-table > .table > tbody,
      .invoice-table > .table > thead {
        line-height: var(--bs-body-line-height);
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
        font-family: var(--fontFamily);
        caption-side: bottom;
        border-collapse: collapse;
        --bs-table-color-type: initial;
        --bs-table-bg-type: initial;
        --bs-table-color-state: initial;
        --bs-table-bg-state: initial;
        --bs-table-color: var(--bs-emphasis-color);
        --bs-table-bg: var(--bs-body-bg);
        --bs-table-border-color: var(--bs-border-color);
        --bs-table-accent-bg: transparent;
        --bs-table-striped-color: var(--bs-emphasis-color);
        --bs-table-striped-bg: rgba(var(--bs-emphasis-color-rgb), 0.05);
        --bs-table-active-color: var(--bs-emphasis-color);
        --bs-table-active-bg: rgba(var(--bs-emphasis-color-rgb), 0.1);
        --bs-table-hover-color: var(--bs-emphasis-color);
        --bs-table-hover-bg: rgba(var(--bs-emphasis-color-rgb), 0.075);
        box-sizing: border-box;
      }
      .invoice-middle > .row > .col-6,
      .invoice-table,
      .invoice-table > .table,
      .invoice-table > .table td,
      .invoice-table > .table tr,
      .invoice-table > .table > tbody,
      .invoice-table > .table > thead {
        text-align: var(--bs-body-text-align);
      }
      .invoice-table > .table td.text-right,
      .invoice-table > .table td.text-right strong {
        text-align: end;
      }
      .invoice-table > .table td,
      .invoice-table > .table td.text-right,
      .invoice-table > .table th {
        background-color: var(--bs-table-bg);
        box-shadow: inset 0 0 0 9999px
          var(
            --bs-table-bg-state,
            var(--bs-table-bg-type, var(--bs-table-accent-bg))
          );
        vertical-align: middle;
        border-color: inherit;
        border-style: solid;
        padding: 10px 15px;
      }
      .invoice-table > .table td,
      .invoice-table > .table td.text-right {
        font-weight: var(--bs-body-font-weight);
        color: #6084a4;
        font-size: 14.5px;
      }
      .invoice-table > .table tbody,
      .invoice-table > .table tr {
        border-width: 0;
      }
      .invoice-table > .table td,
      .invoice-table > .table th {
        border-width: 1px;
      }
      .invoice-table > .table td.text-right strong {
        font-weight: 600;
        color: #221638;
      }
      .invoice-table table tbody td.total,
      .invoice-table table tbody td.total-price {
        color: #221638;
        font-size: 17px;
      }
    </style>
  </head>

  <body>
    <div class="invoice-area">
      <div class="invoice-header">
        <div class="invoice-left-text">
          <h3>Indice Admin</h3>
          <p>RentAbout</p>
        </div>
        <div class="invoice-right-text">
          <h3>Invoice</h3>
        </div>
      </div>

      <div class="invoice-middle">
        <div class="row">
          <div class="col-3">
            <div class="text">
              <h4 class="mb-2">Bill To</h4>
              <span class="d-block mb-1">{{billTo}}</span>
            </div>
          </div>
          <div class="col-3">
            <div class="text">
              <h4 class="mb-2">Ship To</h4>
              <span class="d-block mb-1">{{shipTo}}</span>
            </div>
          </div>
          <div class="col-6">
            <div class="text text-right">
              <h5>Invoice # <sub>#Inv-{{invoiceId}}</sub></h5>
              <h5>Invoice Date # <sub>{{invoiceDate}}</sub></h5>
              <h5>P.O # <sub>#{{purchaseOrder}}</sub></h5>
              <h5 class="mb-0">Due Date # <sub>{{dueDate}}</sub></h5>
            </div>
          </div>
        </div>
      </div>
      <div class="invoice-table">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>Description</th>
              <th>Price Per Day</th>
              <th>Rental duration</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>01</td>
              <td>{{offer.listingName}}</td>
              <td class="text-right">${{offer.pricePerDay}}</td>

              <td class="text-right">{{offer.durationString}}</td>

              <td class="text-right">${{offer.subTotalPrice}}</td>
            </tr>
            <tr>
              <td class="text-right" colspan="4"><strong>Subtotal</strong></td>
              <td class="text-right">${{offer.subTotalPrice}}</td>
            </tr>
            <tr>
              <td class="text-right" colspan="4">
                <strong>Sales Tax {{offer.fee}}%</strong>
              </td>
              <td class="text-right">${{offer.factTotalFee}}</td>
            </tr>
            <tr>
              <td class="text-right total" colspan="4">
                <strong>Total</strong>
              </td>
              <td class="text-right total-price">
                <strong>${{offer.factTotalPrice}}</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
